{% extends "gamebase.html" %}
{% load staticfiles %}
{% load multiply %}
{% load divide %}
{% block content %}

	<section class="callaction">
	<div class="container">
		
	</div>
	</section>

	<section id="content">
	<div class="container">

	{% if post %}
	
		{% if offers %}
			<div class="row">
				<div class="col-lg-12">
					<div class="big-cta">
						<div class="cta-text">
							<h2>Results</h2>
						</div>
					</div>
				</div>
			</div>

			{% for offer in offers %}
			<div class="row">
				<div class="col-lg-4">
			 		<div class="box">
						<div class="box-gray aligncenter">
							<h4>{{ offer.company.name }}</h4>
							<p>
							<strong>
								# Shares : {{ offer.shares }}<br><br>
								Price/share : Rs. {{ offer.price }}<br><br>
								Total : Rs. {{ offer.shares|multiply:offer.price }}
							</strong>
							</p>
						</div>
						{% if offer.shares|multiply:offer.price <= user.cash %}
						<a href="/buyoffer/{{ offer.id }}/">
							<div class="box-bottom">
								<strong><font color="white">Buy</font></strong>
							</div>
						</a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}

		{% else %}
		<div class="row">
				<div class="col-lg-12">
					<div class="big-cta">
						<div class="cta-text">
							<h2>No offers for that company yet. Keep checking!</h2>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		{% endif %}

		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->

		<center>
			<h3>Search for offers</h3>

			<form method="post" action="/buy/" class="form-horizontal" style="width:20%;">
				{% csrf_token %}
				<div class="form-group">
					<label for="company">Company</label>
					<select class="form-control" id="company" name="company">
						{% for company in companies %}
				    		<option value="{{company.id}}">{{ company.name }}</option>
				    	{% endfor %}
				  </select>
				</div>

				<input type="submit" class="btn btn-success" value="Search">

			</form><br><br>
		</center>

		{% if initcoms %}
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->

		<center><h3>Initial Buy Ins</h3></center>

		{% for com in initcoms %}
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading" >
					<h3 class="panel-title" style="display:inline;">{{ com.name }} ({{com.ticker}})</h3>
				</div>
				<div class="panel-body"><strong>
					Total Shares &nbsp: <span id="total{{com.id}}">{{ com.initshares }}</span> <br><br>
					Current Price : Rs. <span id="curprice{{com.id}}">{{ com.curprice }}</span> <br><br>
					<form method="post" action="/initbuy/">
						{% csrf_token %}
						<input type="number" min="1" max="" name="shares" id="shares{{com.id}}"/>
						<input type="text" name="comid" value="{{ com.id }}" hidden/>
						<input type="submit" class="btn btn-success" value="Buy">
					</form>
				</strong></div>
			</div>
		</div>
		{% endfor %}
		{% endif %}

	</div>
	</section>

	<script type="text/javascript">
		update_price = function(){
		    $.ajax({
			        url : "/getinfo/", // the endpoint
			        type : "GET", // http method

			        // handle a successful response
			        success : function(json) {
			            for (var com in json){
			            	$('#total' + com).html(json[com][0]);
			            	$('#curprice' + com).html(json[com][1]);
			            	var max = Math.floor( {{ user.cash }}/json[com][1] );
			            	$("#shares" + com).attr('max', max);
			            }
			        },

			        // handle a non-successful response
			        error : function(xhr,errmsg,err) {
			            console.log('err'); // provide a bit more info about the error to the console
			        }
			    });
		}

		window.onload = function() {
			update_price();
			setInterval(function(){
			    update_price();
			}, 1000);
		};
	</script>

{% endblock %}