{% extends "gamebase.html" %}
{% load staticfiles %}
{% load subtract %}
{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2>Welcome {{ user.user.first_name }}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<section id="content">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<center>
							<div class="panel panel-default panel-primary">
								<div class="panel-heading"><marquee><font size="5"><strong>{{ news.news }}<strong></font></marquee></div>
								<div class="panel-footer">
									<marquee>

										{% for i in "xxxxxxxxxx" %}
										    <strong id="ticker{{ forloop.counter }}"></strong>
											<span id="currprice{{ forloop.counter }}"></span>
											<i class="fa fa-arrow-down" aria-hidden="true" id="arrow{{ forloop.counter }}"></i><span style="color:red;" id="netchange{{ forloop.counter }}"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
										{% endfor %}
										
									</marquee>



									</div>
							</div>
					</center>
				</div>
			</div>
		</div>

		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->

		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-4">
						<a href="/sell">
							<div class="box">
								<div class="box-bottom">
									<font color="white"><strong>Sell Shares</strong></font>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="/buy">
							<div class="box">
								<div class="box-bottom">
									<font color="white"><strong>Buy Shares</strong></font>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="/companies">
							<div class="box">
								<div class="box-bottom">
									<font color="white"><strong>All Companies</strong></font>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->

		<font color="white"><strong>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="box">
							<div class="box-bottom">
								Acc. Balance : Rs. {{ user.cash }}
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-bottom">
								Net Worth : Rs. {{ networth }}
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-bottom">
								Share Value : Rs. {{ networth|subtract:user.cash }}
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-bottom">
								Rank : {{ rank }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</strong></font>

		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="big-cta">
						<div class="cta-text">
							<h2>Your Shares</h2>
						</div>
					</div>
				</div>
			</div>
		</div>	

		<!-- Portfolio Projects -->
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<section id="projects">
					

					{% if shares %}
						<ul id="thumbs" class="portfolio">
						{% for share in shares %}
							<!-- Item Project and Filter Name -->
							<li class="col-lg-3 design" style="padding:0;">
								<div class="item-thumbs" style="background-color:#e8e8e8;height:95%;width:95%;">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap" href="/history/{{share.company.id}}/">
								<!-- <div class="hover-wrap fancybox">
								</div> -->
								<span class="overlay-img"></span>
								<span class="overlay-img-thumb font-icon-plus"></span>
								</a>
								<!-- Thumb Image and Description -->
								<center>
									<h3>{{ share.company.name }}</h3>
									<p>
									<strong>
										# Shares : {{ share.shares }}<br><br>
										Current Price : Rs. {{ share.company.curprice }}<br><br>
									</strong>
									</p>
								</center>
								</div>
							</li>
							<!-- End Item Project -->
						{% endfor %}
						</ul>
					{% else %}
					<center>
						<h3>You don't own any shares yet</h3>
					</center>
					{% endif %}

					
					</section>
				</div>
			</div>
		</div>

		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->

	</div>
	</section>

	<script type="text/javascript">
		update_price = function(){
		    $.ajax({
			        url : "/getprices/", // the endpoint
			        type : "GET", // http method

			        // handle a successful response
			        success : function(json) {
			        	var i = 1;
			            for (var company in json){
			            	$('#ticker' + i).html(json[company][0]);
			            	$('#currprice' + i).html('Rs.' + json[company][1]);
			            	if(json[company][2] >= 0){
			            		$("#arrow" + i).attr('class', 'fa fa-arrow-up');
			            		$("#netchange" + i).attr('style', 'color:green;');
			            		$("#netchange" + i).html(json[company][2]);
			            	}
			            	else{
			            		$("#arrow" + i).attr('class', 'fa fa-arrow-down');
			            		$("#netchange" + i).attr('style', 'color:red;');
			            		$("#netchange" + i).html(json[company][2]);
			            	}
			            	i++;
			            }
			        },

			        // handle a non-successful response
			        error : function(xhr,errmsg,err) {
			            console.log('err'); // provide a bit more info about the error to the console
			        }
			    });
		}

		window.onload = function() {
			update_price();
			setInterval(function(){
			    update_price();
			}, 23000);
		};
	</script>


{% endblock %}