{% extends "gamebase.html" %}
{% load staticfiles %}
{% block content %}

	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2>Transaction History - {{ com.name }}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<section id="content">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="table-responsive" style="font-size:20px;">
					{% if trans %}
					<table class="table table-hover">
						<thead>
							<tr>
								<th>S.No</th>
								<th># Shares</th>
								<th>Price</th>
								<th>Seller</th>
								<th>Buyer</th>
								<th>Bought On</th>
							</tr>
						</thead>
						<tbody>
						{% for t in trans %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ t.offer.shares }}</td>
								<td>{{ t.offer.price }}</td>
								<td>{% if t.offer.user.user.first_name %}{{ t.offer.user.user.first_name }}{% else %}{{ com.name }}{% endif %}</td>
								<td>{{ t.buyer.user.first_name }}</td>
								<td>{{ t.bought_at }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					{% else %}
					<center><h3>No transactions to show yet.</h3></center>
					{% endif %}
				</div> 
			</div>
		</div>

		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->

	</div>
	</section>

		

{% endblock %}