{% extends "gamebase.html" %}
{% load staticfiles %}
{% block content %}

	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2>Your active offers</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<section id="content">
	<div class="container">

		<div class="row">
		{% if offers %}
			{% for offer in offers %}
			<div class="col-lg-4">
		 		<div class="box">
					<div class="box-gray aligncenter">
						<h4>{{ offer.company }}</h4>
						<p>
						<strong>
							# Shares : {{ offer.shares }}<br><br>
							Offer price : Rs. {{ offer.price }}
						</strong>
						</p>
					</div>
					<a href="/remove/{{ offer.id }}/">
						<div class="box-bottom">
							<strong><font color="white">Remove Offer</font></strong>
						</div>
					</a>
				</div>
			</div>
			{% endfor %}
		{% else %}
			<center>
				<h4>You haven't put up any offers yet</h4>
			</center>
		{% endif %}
		</div>

		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->

		<center>
			<h3>Make a new offer</h3>

		{% if shares %}
			<form method="post" action="/sell" class="form-horizontal" style="width:30%;">
				{% csrf_token %}
				<div class="form-group">
					<label for="company">Company</label>
					<select class="form-control" id="company" name="company">
				    		{% for share in shares %}
				    			<option value="{{ share.company.id }}">{{ share.company.name }}</option>
				    		{% endfor %}
				  </select>
				</div>

				<div class="form-group">
					<label for="shares"># Shares</label>
					<input type="number" class="form-control" min="1" max="1" id="shares" name="shares"/>
				</div>

				<div class="form-group">
					<label for="price">Price</label>
					<input type="number" class="form-control" min="1" id="price" name="price"/>
				</div>

				<input type="submit" class="btn btn-success" value="Offer">

			</form>
		{% else %}
			<h4>You don't own any share to offer yet</h4>
		{% endif %}
		</center>

	</div>
	</section>

	<script>
		window.onload = function() {
		  $(document.body).delegate('#company','change',function(){
				var selected = $('#company').val();
				$.ajax({
			        url : "/getmax/", // the endpoint
			        type : "POST", // http method
			        data : { selected : selected }, // data sent with the post request

			        // handle a successful response
			        success : function(json) {
			            $('#shares').attr('max',json.max);
			        },

			        // handle a non-successful response
			        error : function(xhr,errmsg,err) {
			            console.log('err'); // provide a bit more info about the error to the console
			        }
			    });

		  });
		};
	</script>

		

{% endblock %}